@page
@model OOOVote.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Голосования";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-content-center mb-3">
    <h3>@ViewData["Title"]</h3>
    <a class="btn btn-primary" asp-page="Create">Новое голосование</a>
</div>

<h4>Активные голосования</h4>
<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Тема голосования
                    </th>
                    <th>
                        Организация
                    </th>
                    <th>
                        Дата окончания
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Voting.Where(v => v.EndDate >= DateTime.UtcNow))
                {
                    <tr>
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.Id">
                                @item.Subject
                            </a>
                        </td>
                        <td>
                            <a asp-page="../Organizations/Details" asp-route-id="@item.Organization.Id">
                                @item.Organization.Name
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<h4>Завершенные голосования</h4>
<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Тема голосования
                    </th>
                    <th>
                        Организация
                    </th>
                    <th>
                        Дата окончания
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Voting.Where(v => v.EndDate < DateTime.UtcNow))
                {
                    <tr>
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.Id">
                                @item.Subject
                            </a>
                        </td>
                        <td>
                            <a asp-page="../Organizations/Details" asp-route-id="@item.Organization.Id">
                                @item.Organization.Name
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
